---
import LogosIllustration from '@/assets/images/logos-illustration.svg';
import SellIcon from '@/assets/images/undraw_for-sale_7qjb.svg';
import RentIcon from '@/assets/images/undraw_select-house_l2l0.svg';
import InheritanceIcon from '@/assets/images/undraw_buy-house_an72.svg';
import { Image } from 'astro:assets';
---

<section data-aos-id-2="">
  <div class="relative max-w-7xl mx-auto">
    {/* Bg */}
    <div
      class="absolute inset-0 rounded-tr-[100px] md:mb-0 bg-linear-to-b from-slate-800 to-slate-900 pointer-events-none -z-10"
      aria-hidden="true"
    >
    </div>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <div class="py-12 md:py-20">
        {/* Section content */}
        <div class="relative max-w-xl mx-auto md:max-w-none text-center md:text-left">
          {/* Section header */}
          <div class="md:max-w-3xl mb-12 md:mb-20" data-aos="fade-up">
            <h2 class="h2 text-white mb-4">Prodej Nemovitosti</h2>
            <p class="text-lg text-blue-200 mb-8">
              Zajistím rychlý a hlavně bezstarostný prodej Vaší nemovitosti. Postarám se o všechny
              náležitosti a formality.
            </p>
          </div>
          {/* Image */}
          <div class="flex justify-center mb-6" data-aos="fade-up" data-aos-delay="100">
            <div class="relative">
              <Image
                class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 pointer-events-none -z-10 max-w-none mix-blend-lighten"
                src={LogosIllustration}
                alt="Logos illustration"
                aria-hidden="true"
              />
              <Image src={SellIcon} alt="Sell icon" width={400} height={400} />
            </div>
          </div>
          {/* Items */}
          <div
            class="max-w-sm mx-auto grid gap-12 md:grid-cols-3 md:-mx-9 md:gap-0 items-start md:max-w-none text-left"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            {/* 1st item */}
            <div
              class="relative md:px-9 after:hidden md:after:block after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:w-px after:h-16 after:bg-blue-400 last:after:hidden"
            >
              <div class="mb-3">
                <div
                  class="flex items-center justify-center font-bold text-teal-600 bg-teal-200 h-11 w-11 rounded-full"
                >
                  1
                </div>
              </div>
              <h4 class="text-white text-xl font-bold mb-1">Seznámení se</h4>
              <p class="text-blue-200">
                První schůzku vnímám jako vzájemné poznání. Rád se s Vámi setkám u nás v kanceláři,
                kde probereme Vaše potřeby a seznámím Vás jak s procesem, tak i s právními aspekty
                prodeje nemovitosti.
              </p>
            </div>
            {/* 2nd item */}
            <div
              class="relative md:px-9 after:hidden md:after:block after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:w-px after:h-16 after:bg-blue-400 last:after:hidden"
            >
              <div class="mb-3">
                <div
                  class="flex items-center justify-center font-bold text-teal-600 bg-teal-200 h-11 w-11 rounded-full"
                >
                  2
                </div>
              </div>
              <h4 class="text-white text-xl font-bold mb-1">Analýza tržní ceny nemovitosti</h4>
              <p class="text-blue-200">
                Zhodnotím právní a stavebně-technickou stránku nemovitosti. Vypracuji odborný tržní
                odhad vycházející z cenových map a databáze prodaných nemovitostí.
              </p>
            </div>
            {/* 3rd item */}
            <div
              class="relative md:px-9 after:hidden md:after:block after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:w-px after:h-16 after:bg-blue-400 last:after:hidden"
            >
              <div class="mb-3">
                <div
                  class="flex items-center justify-center font-bold text-teal-600 bg-teal-200 h-11 w-11 rounded-full"
                >
                  3
                </div>
              </div>
              <h4 class="text-white text-xl font-bold mb-1">Příprava na prodej a marketing</h4>
              <p class="text-blue-200">
                Doporučím Vám, co udělat proto, aby se Vaše nemovitost stala pro zájemce
                atraktivnější a navrhnu vhodnou marketingovou strategii zahrnující profesionální
                nafocení, inzerci a propagaci na sociálních sítích.
              </p>
            </div>
          </div>
          <div
            class="max-w-sm mx-auto grid gap-12 md:grid-cols-2 md:-mx-9 md:gap-0 items-start md:max-w-none text-left mt-12"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            {/* 4th item */}
            <div
              class="relative md:px-9 after:hidden md:after:block after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:w-px after:h-16 after:bg-blue-400 last:after:hidden"
            >
              <div class="mb-3">
                <div
                  class="flex items-center justify-center font-bold text-teal-600 bg-teal-200 h-11 w-11 rounded-full"
                >
                  4
                </div>
              </div>
              <h4 class="text-white text-xl font-bold mb-1">Proces prodeje a právní servis</h4>
              <p class="text-blue-200">
                Zájemce o nemovitost prověřím z hlediska financování a vhodnosti nemovitosti.
                Zajistím přípravu kompletní smluvní dokumentace (kupní smlouvy a smlouvy o advokátní
                úschově) u spolupracující advokátní kanceláře.
              </p>
            </div>
            {/* 5th item */}
            <div
              class="relative md:px-9 after:hidden md:after:block after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:w-px after:h-16 after:bg-blue-400 last:after:hidden"
            >
              <div class="mb-3">
                <div
                  class="flex items-center justify-center font-bold text-teal-600 bg-teal-200 h-11 w-11 rounded-full"
                >
                  5
                </div>
              </div>
              <h4 class="text-white text-xl font-bold mb-1">Předání nemovitosti</h4>
              <p class="text-blue-200">
                Osobně se budu účastnit předání nemovitosti a přepisu energií.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-12 md:mt-20" data-aos-id-3>
  <div class="relative max-w-7xl mx-auto">
    {/* Bg */}
    <div
      class="absolute inset-0 rounded-tl-[100px] md:mb-0 bg-linear-to-b from-slate-100 pointer-events-none -z-10"
      aria-hidden="true"
    >
    </div>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <div class="py-12 md:py-20">
        {/* Section content */}
        <div class="relative max-w-xl mx-auto md:max-w-none text-center md:text-left">
          {/* Section header */}
          <div class="md:max-w-3xl mb-12 md:mb-20" data-aos="fade-up">
            <h2 class="h2 text-slate-800 mb-4">Pronájem Nemovitosti</h2>
            <p class="text-lg text-slate-400 mb-8">
              Zajistím bezstarostný pronájem Vaší nemovitosti. Pomohu Vám vytvořit atraktivní
              nabídku a vybrat vhodného nájemce.
            </p>
          </div>
          {/* Image */}
          <div class="flex justify-center mb-6" data-aos="fade-up" data-aos-delay="100">
            <div class="relative">
              <Image
                class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 pointer-events-none -z-10 max-w-none mix-blend-lighten"
                src={LogosIllustration}
                alt="Logos illustration"
                aria-hidden="true"
              />
              <Image src={RentIcon} alt="Rent icon" width={400} height={400} />
            </div>
          </div>
          {/* Items */}
          <div
            class="max-w-sm mx-auto grid gap-12 md:grid-cols-3 md:-mx-9 md:gap-0 items-start md:max-w-none text-left"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            {/* 1st item */}
            <div
              class="relative md:px-9 after:hidden md:after:block after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:w-px after:h-16 after:bg-slate-400 last:after:hidden"
            >
              <div class="mb-3">
                <div
                  class="flex items-center justify-center font-bold text-slate-600 bg-slate-200 h-11 w-11 rounded-full"
                >
                  1
                </div>
              </div>
              <h4 class="text-slate-800 text-xl font-bold mb-1">Seznámení se</h4>
              <p class="text-slate-400">
                První schůzku vnímám jako vzájemné poznání. Rád se s Vámi setkám u nás v kanceláři,
                kde probereme Vaše potřeby a seznámím Vás jak s procesem, tak právními aspekty
                pronájmu nemovitosti.
              </p>
            </div>
            {/* 2nd item */}
            <div
              class="relative md:px-9 after:hidden md:after:block after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:w-px after:h-16 after:bg-slate-400 last:after:hidden"
            >
              <div class="mb-3">
                <div
                  class="flex items-center justify-center font-bold text-slate-600 bg-slate-200 h-11 w-11 rounded-full"
                >
                  2
                </div>
              </div>
              <h4 class="text-slate-800 text-xl font-bold mb-1">Analýza tržní ceny nájemného</h4>
              <p class="text-slate-400">
                Společně zhodnotíme silné a slabé stránky Vaší nemovitosti z hlediska nájmu. Určím
                tržní cenu nájemného, která bude vycházet z naší široké databáze pronajatých
                nemovitostí.
              </p>
            </div>
            {/* 3rd item */}
            <div
              class="relative md:px-9 after:hidden md:after:block after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:w-px after:h-16 after:bg-slate-400 last:after:hidden"
            >
              <div class="mb-3">
                <div
                  class="flex items-center justify-center font-bold text-slate-600 bg-slate-200 h-11 w-11 rounded-full"
                >
                  3
                </div>
              </div>
              <h4 class="text-slate-800 text-xl font-bold mb-1">
                Příprava na pronájem a marketing
              </h4>
              <p class="text-slate-400">
                Doporučím Vám, co udělat proto, aby se Vaše nemovitost stala pro zájemce
                atraktivnější a navrhnu vhodnou marketingovou strategii zahrnující profesionální
                nafocení, inzerci a propagaci na sociálních sítích.
              </p>
            </div>
          </div>
          <div
            class="max-w-sm mx-auto grid gap-12 md:grid-cols-2 md:-mx-9 md:gap-0 items-start md:max-w-none text-left mt-12"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            {/* 4th item */}
            <div
              class="relative md:px-9 after:hidden md:after:block after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:w-px after:h-16 after:bg-slate-400 last:after:hidden"
            >
              <div class="mb-3">
                <div
                  class="flex items-center justify-center font-bold text-slate-600 bg-slate-200 h-11 w-11 rounded-full"
                >
                  4
                </div>
              </div>
              <h4 class="text-slate-800 text-xl font-bold mb-1">Proces pronájmu a právní servis</h4>
              <p class="text-slate-400">
                Zájemce o pronájem prověřím z hlediska vhodnosti nemovitosti, stability příjmu ale i
                dluhů (výpis z centrální evidence exekucí a insolvenčního rejstřík). Zajistím
                přípravu kompletní smluvní dokumentace.
              </p>
            </div>
            {/* 5th item */}
            <div
              class="relative md:px-9 after:hidden md:after:block after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:w-px after:h-16 after:bg-slate-400 last:after:hidden"
            >
              <div class="mb-3">
                <div
                  class="flex items-center justify-center font-bold text-slate-600 bg-slate-200 h-11 w-11 rounded-full"
                >
                  5
                </div>
              </div>
              <h4 class="text-slate-800 text-xl font-bold mb-1">Předání nemovitosti</h4>
              <p class="text-slate-400">
                Osobně se budu účastnit předání nemovitosti a přepisu energií.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-aos-id-4 class="mt-12 md:mt-20">
  <div class="relative max-w-7xl mx-auto">
    {/* Bg */}
    <div
      class="absolute inset-0 rounded-tr-[100px] mb-4 md:mb-4 bg-linear-to-b from-blue-900 to-blue-500 pointer-events-none -z-10"
      aria-hidden="true"
    >
    </div>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <div class="py-12 md:py-20">
        {/* Section content */}
        <div class="relative max-w-xl mx-auto md:max-w-none text-center md:text-left">
          {/* Section header */}
          <div class="md:max-w-3xl mb-12 md:mb-20" data-aos="fade-up">
            <h2 class="h2 text-white mb-4">Dědické Řízení</h2>
            <p class="text-lg text-blue-200 mb-8">
              Potřebujete zjistit hodnotu vaší nemovitosti? Rád Vám s tím pomohu.
            </p>
          </div>
          {/* Image */}
          <div class="flex justify-center mb-6" data-aos="fade-up" data-aos-delay="100">
            <div class="relative">
              <Image
                class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 pointer-events-none -z-10 max-w-none mix-blend-lighten"
                src={LogosIllustration}
                alt="Logos illustration"
                aria-hidden="true"
              />
              <Image src={InheritanceIcon} alt="Inheritance icon" width={350} height={350} />
            </div>
          </div>
          <div class="text-slate-100 text-center text-lg" data-aos="fade-up">
            Pokud je součástí dědického řízení nemovitost, notář po Vás bude požadovat předložení
            odhadu nemovitosti. Dnes již není nutné, aby tržní cenu stanovil soudní znalec, postačí
            Vám odhad vypracovaný realitním specialistou. Proto se neváhejte na mne obrátit, velmi
            rád Vám s odhadem pomohu.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
